@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Inter:wght@300;400;700&display=swap");
.header a {
  text-decoration: none;
}

.header a .logo {
  font-size: clamp(2.5rem, 5vw, 2.8rem);
  color: #fff;
  font-family: "Caveat", cursive;
  -webkit-animation: text-focus-in 1s both;
          animation: text-focus-in 1s both;
  -webkit-animation: slide-in-header 1s both;
          animation: slide-in-header 1s both;
}

.header .toggle path {
  -webkit-animation: slide-in-header 1s both;
          animation: slide-in-header 1s both;
}

.header nav ul a {
  font-size: clamp(1.5rem, 5vw, 2.8rem);
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.title {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title h1 {
  font-size: clamp(3rem, 5vw, 6.2rem);
  color: #fff;
  font-family: "Caveat", cursive;
  font-weight: 900;
  -webkit-animation: invisible 3s forwards;
          animation: invisible 3s forwards;
}

@media (min-width: 768px) {
  .header nav ul a {
    font-family: "Caveat", cursive;
  }
}

.about-text h2 {
  font-size: clamp(2.8rem, 5vw, 3.5rem);
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Caveat", cursive;
}

.about-text p {
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  text-align: justify;
  font-family: "Inter", sans-serif;
}

@media (min-width: 768px) {
  .about-text h2 {
    text-align: justify;
  }
}

@media (min-width: 1440px) {
  .about-text h2 {
    font-size: clamp(4rem, 5vw, 6rem);
  }
  .about-text p {
    font-size: clamp(2rem, 5vw, 2.5rem);
    text-align: justify;
    line-height: 1.6;
    width: 95%;
  }
}

.food__title {
  margin-top: 3rem;
  font-size: clamp(3rem, 5vw, 4rem);
  font-family: "Caveat", cursive;
  text-align: center;
}

.food .card__title {
  margin-top: 3rem;
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: clamp(2.3rem, 5vw, 3rem);
}

.food .card-text {
  font-size: clamp(0.8rem, 5vw, 1.4rem);
  text-align: justify;
}

label {
  margin-top: 3rem;
  font-size: clamp(1.3rem, 2vw, 2.4rem);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Caveat', cursive;
  font-family: 'Inter', sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #b6b1b1;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1d1d1b;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: none;
  border: 3px none #ffffff;
}

@-webkit-keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes invisible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-text {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes slide-text {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-header {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-header {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero .bg-video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -10;
}

.hero .header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
}

.hero .header nav {
  position: fixed;
  right: 0;
  top: 0;
  background: #1d1d1b;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

.hero .header nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

.hero .header nav ul a {
  display: block;
  margin-left: 2rem;
  padding: .75em;
  -webkit-animation: slide-in-header 1s both;
          animation: slide-in-header 1s both;
}

.hero .header nav .close {
  float: right;
  margin: 3.6rem 3.5rem 2.1rem 0;
}

.hero .header .open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.scrolling-active {
  background-color: #1d1d1b;
}

@media screen and (min-width: 769px) {
  .hero .header .toggle, .hero .header .close {
    display: none;
  }
  .hero .header nav {
    height: auto;
    width: auto;
    background-color: transparent;
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .hero .header nav ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .header nav ul a {
    text-transform: none;
    margin: 0;
    padding: 1rem;
  }
  .hero .header nav ul a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

.about {
  min-height: 90vh;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-img {
  width: 100%;
  padding: 2rem;
}

.about-img img {
  max-width: 100%;
}

.about-text {
  width: 100%;
  padding: 2rem 2rem 0 2rem;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

@media (min-width: 768px) {
  .about {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .about-img {
    width: 95%;
  }
  .about-text {
    padding-bottom: 2rem;
    grid-row: auto;
  }
}

@media (min-width: 1440px) {
  .about-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.banner {
  height: 12vh;
  background-color: #1d1d1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner p {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-family: "Caveat", cursive;
  font-weight: 400;
  color: #fff;
}

.food {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #f8f9fa;
  padding: 3rem;
}

.food .row {
  padding: 3rem;
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.food .row .col .card {
  -ms-grid-column-align: center;
      justify-self: center;
  border-radius: .5rem;
  max-width: 90%;
}

.contact-form {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-form .row {
  padding: 0 2rem;
}

.contact-form .row .email-input {
  height: 5rem;
}

.contact-form .row .btn-form {
  margin: 2rem 0;
  width: 10rem;
  height: 4rem;
  background-color: #1d1d1b;
  color: #fff;
  font-size: 1.5rem;
}

.contact-form .row .btn-form:hover {
  color: #fff;
  background-color: #2f2f2d;
}

.footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.footer__info {
  height: 30vh;
  background-color: #1d1d1b;
  color: #ffffff;
}
/*# sourceMappingURL=custom.css.map */