.contact-form{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .row{
        padding: 0 2rem;
        .email-input{
            height: 5rem;
        }
        .btn-form{
            margin: 2rem 0;
            width: 10rem;
            height: 4rem;
            background-color: $black;
            color: $white;
            font-size: 1.5rem;
            &:hover{
                color: $white;
                background-color: #2f2f2d;
            }
        }
    }
    
}