.food{
    height: min-content;
    background-color: #f8f9fa;
    padding: 3rem ;

    .row{
        padding: 3rem;
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .col{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .card{
                justify-self: center;
                border-radius: .5rem;
                max-width: 90%;
            }
        }
    }
}